name: studex
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter
  go_router: ^14.2.3
  http: ^1.2.2
  flutter_secure_storage: ^9.2.4
  flutter_3d_controller: ^2.3.0
  intl: ^0.18.1 

dev_dependencies:
  flutter_test:
    sdk: flutter
  
  flutter_lints: ^5.0.0
  
flutter:
  uses-material-design: true

  assets:
    - assets/images/logosx.jpg
    - assets/avatar/avatarVivi.glb
